<footer class="py-5">
    <div class="container">
        <div class="row gap-3">
            <div class="col-12 col-lg-3">
                <ul class="p-0 list-unstyled d-flex flex-column gap-3">
                <li>Jalan Suroyo No. 161 Mayangan Kota Probolonggo 672000</li>
                <li>binarcarrental@gmail.com</li>
                <li>081-233-334-808</li>
                </ul>
            </div>
            <div class="col-12 col-lg-2">
                <nav class="navbar p-0 flex-column gap-3 align-items-start">
                <a href="#" class="nav-link p-0 fw-bold">Our Service</a>
                <a href="#" class="nav-link p-0 fw-bold">Why Us</a>
                <a href="#" class="nav-link p-0 fw-bold">Testimonial</a>
                <a href="#" class="nav-link p-0 fw-bold">FAQ</a>
                </nav>
            </div>
            <div class="col-12 col-lg-3">
                <p>Connect with us</p>
                <div class="d-flex flex-wrap gap-3">
                <div class="icon rounded-circle">
                    <img src="images/icons/fi_facebook.svg" alt="">
                </div>
                <div class="icon rounded-circle">
                    <img src="images/icons/fi_instagram.svg" alt="">
                </div>
                <div class="icon rounded-circle">
                    <img src="images/icons/fi_twitter.svg" alt="">
                </div>
                <div class="icon rounded-circle">
                    <img src="images/icons/fi_mail.svg" alt="">
                </div>
                <div class="icon rounded-circle">
                    <img src="images/icons/fi_twitch.svg" alt="">
                </div>
                </div>
            </div>
            <div class="col-12 col-lg-3">
                <p>Copyright Binar 2022</p>
                <p class="fw-bold">Binar Car Rental</p>
            </div>
        </div>
    </div>
</footer>