<!-- Header -->
<header class="bg-transparent w-full fixed-top">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Binar Car Rental</a>
          <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button> -->
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarToggle">
            <ul class="navbar-nav mb-2 mb-lg-0 gap-4">
              <li class="nav-item">
                <a class="nav-link" href="#service">Our Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#whyus">Why Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#testimonial">Testimonial</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#faq">FAQ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link btn bg-lime-green400 text-white fw-bold px-3" href="#">Register</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>

    <!-- offcanvas right -->
    <div class="offcanvas offcanvas-end text-black" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
      <div class="offcanvas-header">
        <h1 id="offcanvasRightLabel" class="fw-bold">BCR</h1>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav mb-2 mb-lg-0 gap-4">
          <li class="nav-item">
            <a class="nav-link" href="#service">Our Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#whyus">Why Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#testimonial">Testimonial</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#faq">FAQ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn bg-lime-green400 text-white fw-bold px-3" href="#">Register</a>
          </li>
        </ul>
      </div>
    </div>
</header>