<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">

    <style>
        :root {
            --px-sidebar: 1em;
        }

        body {
            background-color: #F4F5F7;
        }
        .wrapper {
            display: flex;
            min-height: 100vh;
            width: 100%;
            overflow: hidden;
        }
        .sidebar-main {
            background-color: #0D28A6;
            height: 100%;
            padding: 0 1rem;
        }

        .sidebar-main > .brand-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 70px;
        }
        
        .sidebar-secondary {
            background-color: white;
            width: 220px;
            height: 100%;
            transition: .2s;
        }
        
        .sidebar-secondary .sidsec-title {
            color: #8A8A8A;
            font-size: 0.875rem;
            font-weight: 700;
            margin-bottom: 0;
        }

        .header__sidebar, .item__sidebar {
            padding: var(--px-sidebar);
        }

        .navbar {
            grid-area: navbar;
            width: 100%;
            height: 70px;
        }

        .sidebar-secondary header, section header {
            display: flex;
            align-items: center;
            height: 70px;
        }

        .nav__sidebar {
            background-color: #CFD4ED;
        }

        .item__sidebar {
            text-decoration: none;
            color: #151515;
            font-weight: 700;
        }

        .breadcrumb {
            margin-bottom: 0;
        }

        .card {
            max-width: 351px;
        }

        .collapse:not(.show) {
            display: block;
            width: 0;
            padding: 0;
            height: 100%;
            overflow: hidden;
        }

        #car-wrapper {
            background-color: white;
            border-radius: 2px;
            display: flex;
            flex-direction: column;
            gap: 1em;
            padding: 1em;
        }

        .snackbar {
            top: 50px;
            width: 50%; 
            max-width: 550px;
        }

    </style>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <div class="wrapper">
       <!-- sidebar -->
       <%- include('layouts/admin/sidebar')  %> 

        <div class="w-full">
            <!-- navbar -->
            <%- include('layouts/admin/navbar')  %> 
            
            <div class="d-flex" style="height: calc(100% - 70px);">
                <!-- Sidebar Secondary -->
                <%- include('layouts/admin/sidebarSecondary')  %> 
                
                <main class="w-full pb-4">
                    <!-- Content -->
                    <%- include(`pages/admin/${content}`)  %> 
                </main>
            </div>
        </div>
    </div>

    <script src="/scripts/bootstrap.js"></script>
    <script>
        function logout() {
            document.cookie = "access_token=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
            document.location.href = '/'
        }
    </script>
</body>
</html>