<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in Admin</title>

    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    
    <style>
        body {
            background-image: url('/images/backgrounds/image 2.png');
            background-repeat: no-repeat;
            background-color: rgba(0, 0, 255, 0.2);
            background-blend-mode: soft-light;
            /* background-size: cover; */
            background-position: left;
            min-height: 100vh;
            display: flex;
            justify-content: end;
            align-items: stretch;
        }
        main {
            width: 482px;
            min-height: 100%;
            background-color: white;
            padding: 1em 2em;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>
<body>
    <main>
        <section>
            <img src="/images/rectangle.png" alt="image" class="mb-4">
            <h2>Welcome, Admin BCR</h2>
            <form action="http://localhost:3000/login" method="post" class="d-flex flex-column gap-3 mt-4" id="login" onsubmit="login(event)">
                <div class="row">
                    <div class="col-12">
                        <div class="alert alert-danger d-none" role="alert" id="alert">
                            A simple danger alert—check it out!
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label for="email" class="form-label">Email</label>
                    </div>
                    <div class="col-12">
                        <input type="email" class="form-control" id="email" name="email" placeholder="Contoh: johndee@gmail.com">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label for="password" class="form-label">Password</label>
                    </div>
                    <div class="col-12">
                        <input type="password" class="form-control" id="password" name="password" placeholder="6+ karakter">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary d-block w-full">Sign In</button>
                    </div>
                </div>
            </form>
        </section>
    </main>
</body>
</html>

<script>
    async function login(event) {
        event.preventDefault()
        
        const email = document.getElementById('email').value
        const password = document.getElementById('password').value
        const alertEl = document.getElementById('alert')

        const user = await fetch('http://localhost:3000/login', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
                // 'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: JSON.stringify({
                email: email,
                password: password
            })
        })

        const userData = await user.json()

        if(!userData.status) {
            alertEl.textContent = userData.message
            alertEl.classList.remove('d-none')
        } else {
            if(!alertEl.classList.contains('d-none')) {
                alertEl.classList.add('d-none')
            }
            document.cookie = `access_token=${userData.token}; path=/`
            document.location.href = 'http://localhost:8080/admin'
        }
    }
</script>