<section class="p-2 position-relative">
    <div class="container-fluid">
        <header>
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">Home</li>
                    <li class="breadcrumb-item active" aria-current="page">List Cars</li>
                </ol>
            </nav>
        </header>
        <div class="row">
            <div class="col-8">
                <h3>List Cars</h3>
            </div>
            <div class="col-4 d-flex justify-content-end">
                <a class="btn btn-primary" href="/admin/car">Add New Car</a>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12 d-flex gap-2">
                <button>All</button>
                <button>Small</button>
                <button>Medium</button>
                <button>Large</button>
            </div>
        </div>
        <div class="row row-cols-3 gy-3">

            <% data.data.forEach(car => { %>
                
            <div class="col">
                <div class="card p-4 shadow-sm rounded border-0 justify-content-between">
                    <div>
                        <img src="<%= car.image %>" alt="Car Image" class="car-image mb-3">
                        <p><%= car.name %> </p>
                        <p class="fw-bold">Rp <%= car.rent.toString().replace(/(.)(?=(\d{3})+$)/g,'$1.') %> / Hari</p>
                        <p>Updated at <%= car.updatedAt %></p>
                    </div>
                    <div class="d-flex gap-2">
                        <a class="btn btn-danger fw-bold" onclick="deleteCar(this)" data-id="<%= car.id %>" id="delete-car">Delete</a>
                        <a class="btn btn-success fw-bold" href="/admin/car/<%= car.id %> ">Edit</a>
                    </div>   
                </div>
            </div>

            <% }) %>
                        
        </div>
    </div>

    <% if (action == 'delete') { %>
        <div class="alert snackbar bg-dark text-white text-center alert-dismissible position-absolute start-50 translate-middle-x fade show" role="alert" style="top: 50px;">
            <strong>Data berhasil dihapus</strong>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <% } else if (action == 'add') { %>
        <div class="alert snackbar bg-success text-white text-center alert-dismissible position-absolute start-50 translate-middle-x fade show" role="alert" style="top: 50px;">
            <strong>Data berhasil ditambah</strong>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <% } %> 
</section>

<script>
    function deleteCar(el) {
        const id = el.dataset.id
        Swal.fire({
            title: 'Menghapus Data Mobil',
            text: 'Setelah dihapus, data mobil tidak dapat dikembalikan. Yakin ingin menghapus?',
            iconHtml: '<img src="/images/icons/img-BeepBeep.png">',
            showCancelButton: true,
            confirmButtonText: 'Ya',
            cancelButtonText: `Tidak`,
        }).then(result => {
            if(result.isConfirmed) {
                const token = document.cookie.split('access_token=')[1]
                fetch(`http://localhost:3000/cars/${id}`, {
                    method: 'DELETE',
                    headers: {
                        "Authorization": `Bearer ${token}`
                    }
                }).then(async (res) => {
                    const response = await res.json()
                    
                    if (response.success) {
                        window.location.href = `/admin?action=delete`
                        return
                    }
                    
                    Swal.fire({
                        title: response.title,
                        text: response.message,
                    })

                })
            }
        })
    }
   
</script>