<div class="collapse show sidebar-secondary" id="navbarToggleExternalContent">
    <header class="header__sidebar">
        <h2 class="sidsec-title">CARS</h2>
    </header>
    <div class="nav__sidebar w-full">
        <a href="/admin" class="d-block item__sidebar">List Car</a>
    </div>
</div>